@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
}

@font-face {
  font-family: myFirstFont;
  src: url(./assets/catcafemeow.ttf);
}

* {
  font-family: myFirstFont;
}
